# Rust / Cargo
/target/
Cargo.lock.log

# Backups
**/*.rs.bk

# MSVC Windows builds
*.pdb

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Application Settings / Temporary Output
nmosh-settings.json
settings.json